<div style="margin-left: 50px">
    <input type="text" ng-model="movieToSearch">
    <button ng-click="search(movieToSearch)">Search</button>
</div>
<div style="margin-left: 50px">
    <h1>I have {{movies.feed.movie.length}} movies</h1>
    <ul>
        <li ng-repeat="movie in movies.feed.movie">
            <h3>{{movie.originalTitle}}</h3>
            <img ng-src="{{movie.poster.href}}" style="height:155px;"/>
            <div style="display:inline-block;">
                <p>Year : {{movie.productionYear}}</p>
                <p>Director : {{movie.castingShort.directors}}</p>
                <p>Stars : {{movie.castingShort.actors}}</p>
                <p><a href="#/movies/{{movie.code}}">More details</a></p>
            </div>
        </li>
    </ul>
</div>